/* Header */
body {
    background-color: #2B2B2B;
}

.menu {
    text-align: center;
}
.menu li{
    display: inline-block;
    margin-right: 5%;
}
.menu a {
    color: #88BFFF;
    text-decoration-line: none;
}
.menu a:hover {
    font-weight: bold;
    font-size: 21px;
    text-decoration-line: underline;
}

/* Main content */
/* Main content */
main {
    text-align: center;
}

.content-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text {
    display: inline-block;
    text-align: center;
    width: 30%;
    color: white;
    margin: auto;
    margin-right: 5%;
    margin-left: 0%;
}
.image {
    width: 20%;
    display: inline-block;
}
.image img {
    display: inline-block;
    width: 100%;
    border-radius: 2px;
    border: solid 1px #88BFFF;
}
button {
    display: inline-block;
    text-align: center;
    border: solid 0.5px #88BFFF;
    background-color: #444;
    opacity: 0.9;
    color: white;
    padding: 0px;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 1%;
}
button:hover {
    display: inline-block;
    text-align: center;
    border: solid 0.5px #88BFFF;
    background-color: #88BFFF;
    opacity: 0.9;
    color: white;
    padding: 0px;
    border-radius: 10px;
    width: 55%;
    margin-bottom: 1%;
}
.github img, p {
    display: inline-block;
    margin: auto;
    text-align: center;
}
.github img {
    width: 15%;
}
.linkedin img {
    width: 15%;
}

/* Footer */
.footer {
    background-color: #88BFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

#alura {
    margin-right: 15%;
}

#credits {
    display: inline-block;
    text-align: center;
}